@model IEnumerable<HotelDetailsViewModel>

@{ ViewBag.Title = "Hotels"; }


<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Contry</th>
        <th>City</th>
        <th>Address</th>
    </tr>
    </thead>

    <tbody>
    @foreach (var hotel in Model)
    {
        <tr>
            <td>@hotel.Id</td>
            <td>@hotel.Name</td>
            <td>@hotel.Country</td>
            <td>@hotel.City</td>
            <td>@hotel.Address</td>
            <td class="text-center">
                @if (User.IsAllowedPermission(Permissions.ManageHotels))
                {
                    <form class="d-inline-block" asp-action="DeleteAsync" asp-route-id="@hotel.Id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@if (User.IsAllowedPermission(Permissions.ManageHotels))
{
    <div class="text-center pt-5">
        <a asp-action="CreateAsync" class="btn btn-lg btn-outline-primary">Create</a>
    </div>
}
