@model IEnumerable<AgencyViewModel>

@{ ViewBag.Title = "Agencies"; }

<div class="container mt-5">
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone</th>
            <th>Description</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var agency in Model)
        {
            <tr>
                <td>@agency.Id</td>
                <td>@agency.Name</td>
                <td>@agency.Phone</td>
                <td>@agency.Description</td>
                <td class="text-center">
                    @if (User.IsAllowedPermission(Permissions.ManageAgencies))
                    {
                        <a asp-action="UpdateAsync" class="btn btn-primary" asp-route-id="@agency.Id">Update</a>
                    }
                    @if (User.IsAllowedPermission(Permissions.ManageAgencies))
                    {
                        <form class="d-inline-block" asp-action="DeleteAsync" asp-route-id="@agency.Id">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>

    @if (User.IsAllowedPermission(Permissions.ManageAgencies))
    {
        <div class="text-center pt-5">
            <a asp-action="CreateAsync" class="btn btn-lg btn-outline-primary">Create</a>
        </div>
    }

</div>
